SpiritualAllies/SpiritualAllies.xcodeproj/project.xcworkspace/contents.xcworkspacedata
SpiritualAllies/SpiritualAllies.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
SpiritualAllies/SpiritualAllies.xcodeproj/project.xcworkspace/xcuserdata/times.xcuserdatad/UserInterfaceState.xcuserstate
SpiritualAllies/SpiritualAllies.xcodeproj/xcuserdata/times.xcuserdatad/xcschemes/xcschememanagement.plist
